<main>
  <h1>{{title}}</h1>

  <section>
    <h2>Your "Nerdy" shirt is created with the following text:</h2>
    <h3>{{create.create}}</h3>
    <span>Your selected size: <strong>{{create.size}}</strong></span>
  </section>
</main>
